.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1197px;
  margin: auto;
  
  .social_logo {
    img {
      width: 35px;
      height: 35px;
    }

    &:hover {
      filter: contrast(0);
    }
  }
}
