.animal {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &_img {
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.animal_speech {
  position: relative;

  img {
    width: 200px;
    height: 150px;
  }

  .animal_txt {
    width: 100%;
    position: absolute;
    top: 45px;
  }
}

.animal_img {
  margin-top: 100px;
}
