.card {
  width: 25%;
  margin: 15px 10px;

  @media screen and (max-width: 768px) {
    width: calc(50% - 20px);
  }

  .text-button {
    display: flex;
    justify-content: space-between;

    .play {
      line-height: 10px;
      height: 34px;
    }
  }
}