@import '../../variables.scss'; 

header {
  flex: 0 0 auto;
  background-color: $color-text-light;
  padding: 10px 0;

  @media screen and (max-width: 768px) {
    position: fixed;
    left: $menu-width-desktop;
    top: 0;
    z-index: 80;
    width: calc(100% - #{$menu-width-desktop});
  }

  .container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .login-buttons {
    display: flex;
    align-items: center;

    .btn + .btn {
      margin-left: 10px;
    }
  }

  a {
    color: $color-accent;
    transition: 0.15s ease;
    
    &:hover {
      color: $color-accent-hover;
      transform: scale(1.1);
    }
  }

  .logo_title {
    color: $color-accent;
    font-weight: 900;
    letter-spacing: -1px;
    transition: 0.15s ease;

    &--rs {
      letter-spacing: -6px;
    }

    &:hover {
      color: $color-accent-hover;
      
    }
  }
}