@import '../../variables.scss';

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position-x: 100%;
  background-repeat: no-repeat;

  main {
    flex: 1 0 auto;
    padding: 20px;
  }

  &-content__video {
    text-align: center;

    iframe {
      width: 100%;
      max-width: 560px;
    }
  }

  &-content__description-block {
    margin-top: 20px;
  }
}

.highlight {
  color: $color-accent;
}

.features {
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
  }
}

.feature-block {
  width: 18rem;
}