.sprint-game-statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sprint-game-statistics__log{
    display: flex;
    justify-content: center;
}