$color-bg-card: #f0f1f2;
$color-bg-card-dark: #333333bb;
$color-bg: #e6e6e6;
$color-bg-dark: #333333;
$color-text-light: #ffffff;
$color-text-dark: #333333;
$color-accent: #cf0045;
$color-accent-hover: #e2024d;
$color-focus: $color-accent;

$menu-width-desktop: 100px;